 .header{
  display: flex;
  justify-content: space-between;
  height: 50px;

 }
 .header button{
  width: 100%;
  cursor: pointer;
 }
 .content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
 }